.form-elegant .font-small {
	font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
	-webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
	box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
	-webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
	box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

.md-form .form-control:focus {
	box-shadow: 0 1px 0 0 #3584A7;
	border-bottom: 1px solid #3584A7;
}

.md-form label.active {
	color: #3584A7;
}

.resultsContainer {
	color: #000;
	margin-top: 40px;
}

.domainName {
	font-weight: 500;
}

.resultsContainer a {
	font-weight: 400;
	color: #007bff !important;
	text-decoration: underline;
	overflow: hidden
}

.card {
	margin-left: calc(50%);
	margin-top: calc(50%);
	width: 100%;
}

.logospot {
	padding-top:30px;
	padding-bottom:30px;
}

.logospot img {
	padding-right: 30px;
}

button {
	background: linear-gradient(180deg, #41ace8, #3871c1) !important;
}
.react-tagsinput--focused {
	border-color: #3584A7;
}

.react-tagsinput {
	outline: none;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #ced4da;
	border-radius: 0;
	box-sizing: content-box;
	background-color: transparent;
	padding: 0.55rem 0 0.55rem 0;
	margin: 1.2rem 0 2.2rem 0;
	background-image: none;
	height: auto;
	display: block;
	width: 100%;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-clip: padding-box;
	outline-offset: -2px;
	-webkit-appearance: none;
	overflow: visible;
}

.react-tagsinput-tag {
	background: linear-gradient(180deg, #41ace8, #3871c1);
	border-radius: 2px;
	border: 1px solid #3584A7;
	color: #fff;
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 6px;
}

.react-tagsinput-input {
	-webkit-transition: border-color 0.15s ease-in-out,	box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	background: transparent;
	border: 0;
	color: #757575;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	outline: none;
	padding: 5px;
	padding-bottom: 0px;
	width: 125px;
}

@keyframes companyFlipper {
	0% {
		transform: perspective(350px) rotateX(-90deg);
	}

	33% {
		transform: perspective(350px) rotateX(0deg);
	}

	66% {
		transform: perspective(350px) rotateX(10deg);
	}

	100% {
		transform: perspective(350px) rotateX(0deg);
	}
}

@-webkit-keyframes companyFlipper {
	0% {
		-webkit-transform: perspective(350px) rotateX(-90deg);
	}

	33% {
		-webkit-transform: perspective(350px) rotateX(0deg);
	}

	66% {
		-webkit-transform: perspective(350px) rotateX(10deg);
	}

	100% {
		-webkit-transform: perspective(350px) rotateX(0deg);
	}
}

@keyframes companyFlipperUp {
	0% {
		transform: perspective(350px) rotateX(0deg);
	}

	33% {
		transform: perspective(350px) rotateX(10deg);
	}

	66% {
		transform: perspective(350px) rotateX(0deg);
	}

	100% {
		transform: perspective(350px) rotateX(-90deg);
	}
}

@-webkit-keyframes companyFlipperUp {
	0% {
		-webkit-transform: perspective(350px) rotateX(0deg);
	}

	33% {
		-webkit-transform: perspective(350px) rotateX(10deg);
	}

	66% {
		-webkit-transform: perspective(350px) rotateX(0deg);
	}

	100% {
		-webkit-transform: perspective(350px) rotateX(-90deg);
	}
}

.company-row.companyFlip {
	animation: companyFlipper 0.7s;
	animation-fill-mode: forwards;
	-webkit-animation: companyFlipper 0.7s;
	-webkit-animation-fill-mode: forwards;
}

.compan-row {
	-webkit-transform: perspective(350px) rotateX(-90deg);
	transform: perspective(350px) rotateX(-90deg);
	animation: companyFlipperUp 0.7s;
	animation-fill-mode: forwards;
	-webkit-animation: companyFlipperUp 0.7s;
	-webkit-animation-fill-mode: forwards;
}